.git
.gitignore
.env
vendor
data
tests
docs
systemd
nginx
*.md
.phpunit.cache
phpunit.result.cache
phpunit.xml
public/**/*.asc
public/b
public/current.json
public/history.json
public/history-*.json
public/status.json
history.json
gluchron.history.json
